@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  border-bottom: 3px solid rgb(255, 152, 152);
  box-shadow: 4px 2px 8px #cfcfcf;
  left: 0;
  right: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(255, 152, 152);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 5px solid white;
}

h2 {
  padding-top: 5px;
  font-weight: normal;
  text-align: center;
  font-size: 1.6rem;
}

.container {
  margin-top: 5rem;
}

#cadastrar {
  background-color: rgb(255, 152, 152);
}

#logar {
  background-color: rgb(255, 152, 152);
}
