@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  border-bottom: 3px solid rgb(255, 152, 152);
  box-shadow: 4px 2px 8px #cfcfcf;
  left: 0;
  right: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(255, 152, 152);
}

#nav-pills a {
  color: black;
  margin: 0px 2px;
}

#nav-link {
  background-color: rgb(255, 152, 152) !important;
  color: black;
}

#title {
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 5px solid white;
  font-weight: 700;
  text-shadow: 2px 2px #ffffff;
}

#subtitle {
  font-weight: normal;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;
  text-shadow: 1px 1px #ffffff;
}

#form-login {
  margin-top: 4rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

form {
  max-width: 375px;
  margin: auto;
  padding: 50px 50px 10px 50px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 0px #cfcfcf;
}

.form-group {
  padding-bottom: 20px;
}

label {
  padding-bottom: 5px;
}

#logar {
  margin-top: 10px;
  width: fit-content;
  background-color: rgb(255, 152, 152);
}

#login-button {
  display: flex;
  justify-content: end;
}
