* {
  box-sizing: border-box;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0px;
}

main {
  margin-top: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

p {
  width: 50%;
}

form {
  width: 40%;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 0px #cfcfcf;
  margin-bottom: 3rem;
}

#modelo {
  cursor: pointer;
}

.form-group {
  padding-bottom: 20px;
}

label {
  padding-bottom: 5px;
}

#salvar {
  background-color: rgb(255, 152, 152);
}

.send-button {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}

.table {
  border-radius: 15px;
  box-shadow: 1px 1px 20px 0px #cfcfcf;
  margin-bottom: 3rem;
}

#tabela {
  background-color: rgb(255, 152, 152);
  overflow: hidden;
  margin-top: 1rem;
  width: 50%;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 0px #cfcfcf;
  margin-bottom: 3rem;
}

#tabela th {
  padding-left: 30px;
}

#tabela td {
  background-color: white;
  color: black;
  padding: 9px 30px 9px 30px;
}
